<?xml version="1.0" encoding="utf-8"?> 
<configuration>
  <appSettings>
    <!-- Set the Python path to your project directory -->
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\proposal_DB" />
    <!-- Set the WSGI Handler to your Django wsgi.py application -->
    <add key="WSGI_HANDLER" value="project.wsgi.application" />
    <!-- Set the Django settings module -->
    <add key="DJANGO_SETTINGS_MODULE" value="project.settings" />
  </appSettings>

  <system.webServer>
    <handlers>
      <!-- Add the FastCGI handler -->
      <add name="PythonFastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python312\python.exe|C:\Python312\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
    </handlers>
        <httpErrors errorMode="Detailed" />
  </system.webServer>
</configuration>
