{% extends 'proposals/base.html' %}
{% block title %}SOW Records{% endblock %}
{% block content %}
<h1>Proposal/SOW Records</h1>

<form method="get" class="mb-3">
    <input type="text" name="q" placeholder="Filter proposals" list="proposalList" value="{{ request.GET.q }}">
    <datalist id="proposalList">
      {% for proposal_id in all_proposals %}
        <option value="{{ proposal_id }}">
      {% endfor %}
    </datalist>
    <button type="submit" class="btn btn-primary">Filter</button>
    <a href="{% url 'proposal_sow_list' %}" class="btn btn-secondary">Clear Filter</a>
  </form>
  

<div class="mb-3">
  <a href="{% url 'proposal_create' %}" class="btn btn-primary">Add New Proposal</a>
  <a href="{% url 'sow_create' %}" class="btn btn-primary">Add New SOW</a>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Proposal</th>
      <th>SOW</th>
    </tr>
  </thead>
  <tbody>
    {% for proposal in proposals %}
      {% with proposal.sows.all as sows %}
      {% if sows %}
        {# Proposal with one or more SOWs: merge proposal cell over multiple rows #}
        <tr>
          <td rowspan="{{ sows|length }}">
            <strong><a href="{% url 'proposal_detail' proposal.pk %}">{{ proposal.proposal_id }}</a></strong><br/>
            <a href="{% url 'proposal_update' proposal.pk %}" title="Edit Proposal">
              &#9881;
            </a>
            <a href="{% url 'proposal_delete' proposal.pk %}" title="Delete Proposal">
              &#128465;
            </a>
          </td>
          <td>
            <a href="{% url 'sow_detail' sows.0.pk %}">{{ sows.0.sow_id }}</a>
            <a href="{% url 'sow_update' sows.0.pk %}" title="Edit SOW">
              &#9881;
            </a>
            <a href="{% url 'sow_delete' sows.0.pk %}" title="Delete SOW">
              &#128465;
            </a>
          </td>
        </tr>
        {% for sow in sows|slice:"1:" %}
        <tr>
          <td>
            <a href="{% url 'sow_detail' sow.pk %}">{{ sow.sow_id }}</a>
            <a href="{% url 'sow_update' sow.pk %}" title="Edit SOW">
              &#9881;
            </a>
            <a href="{% url 'sow_delete' sow.pk %}" title="Delete SOW">
              &#128465;
            </a>
          </td>
        </tr>
        {% endfor %}
      {% else %}
        {# Proposal without any SOWs #}
        <tr>
          <td>
            <strong>{{ proposal.proposal_id }}</strong><br/>
            <a href="{% url 'proposal_update' proposal.pk %}" title="Edit Proposal">
              &#9881;
            </a>
            <a href="{% url 'proposal_delete' proposal.pk %}" title="Delete Proposal">
              &#128465;
            </a>
          </td>
          <td>
            <em>No SOWs</em>
          </td>
        </tr>
      {% endif %}
      {% endwith %}
    {% endfor %}
  </tbody>
</table>
{% endblock %}
