{% extends 'proposals/base.html' %}
{% block title %}SOW Records{% endblock %}
{% block content %}
<h1>SOW Records</h1>

<div class="mb-3">
  <a href="{% url 'proposal_create' %}" class="btn btn-primary">Add New Proposal</a>
  <a href="{% url 'sow_create' %}" class="btn btn-primary">Add New SOW</a>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Proposal / SOW</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for proposal in proposals %}
      {% with proposal.sows.all as sows %}
      {% if sows %}
        {# Proposal with one or more SOWs: merge proposal cell over multiple rows #}
        <tr>
          <td rowspan="{{ sows|length }}">
            <strong>{{ proposal.proposal_id }}</strong><br/>
            <a href="{% url 'proposal_update' proposal.pk %}" title="Edit Proposal">
              &#9881;
            </a>
            <a href="{% url 'proposal_delete' proposal.pk %}" title="Delete Proposal">
              &#128465;
            </a>
          </td>
          <td>
            <a href="{% url 'sow_detail' sows.0.pk %}">{{ sows.0.sow_id }}</a>
            <a href="{% url 'sow_update' sows.0.pk %}" title="Edit SOW">
              &#9881;
            </a>
            <a href="{% url 'sow_delete' sows.0.pk %}" title="Delete SOW">
              &#128465;
            </a>
          </td>
        </tr>
        {% for sow in sows|slice:"1:" %}
        <tr>
          <td>
            <a href="{% url 'sow_detail' sow.pk %}">{{ sow.sow_id }}</a>
            <a href="{% url 'sow_update' sow.pk %}" title="Edit SOW">
              &#9881;
            </a>
            <a href="{% url 'sow_delete' sow.pk %}" title="Delete SOW">
              &#128465;
            </a>
          </td>
        </tr>
        {% endfor %}
      {% else %}
        {# Proposal without any SOWs #}
        <tr>
          <td>
            <strong>{{ proposal.proposal_id }}</strong><br/>
            <a href="{% url 'proposal_update' proposal.pk %}" title="Edit Proposal">
              &#9881;
            </a>
            <a href="{% url 'proposal_delete' proposal.pk %}" title="Delete Proposal">
              &#128465;
            </a>
          </td>
          <td>
            <em>No SOWs</em>
          </td>
        </tr>
      {% endif %}
      {% endwith %}
    {% endfor %}
  </tbody>
</table>
{% endblock %}
