{% extends 'proposals/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ form_title|default:"Standardized Questionnaire Name Form" }}{% endblock %}

{% block content %}
<h1>{{ form_title|default:"Standardized Questionnaire Name Form" }}</h1>
<hr>
<form method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Save</button>
    <a href="{% url 'standardized_questionnaire_list' %}" class="btn btn-outline-secondary">Cancel</a>
</form>
{% endblock %}